<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Gmail</string>
		<key>URLBodyKey</key>
		<string>body</string>
		<key>URLRecipientKey</key>
		<string>to</string>
		<key>URLRoot</key>
		<string>///co</string>
		<key>URLScheme</key>
		<string>googlegmail</string>
		<key>URLSubjectKey</key>
		<string>subject</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Spark</string>
		<key>URLBodyKey</key>
		<string>body</string>
		<key>URLRecipientKey</key>
		<string>recipient</string>
		<key>URLRoot</key>
		<string>//compose</string>
		<key>URLScheme</key>
		<string>readdle-spark</string>
		<key>URLSubjectKey</key>
		<string>subject</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Dispatch</string>
		<key>URLBodyKey</key>
		<string>body</string>
		<key>URLRecipientKey</key>
		<string>to</string>
		<key>URLRoot</key>
		<string>///compose</string>
		<key>URLScheme</key>
		<string>x-dispatch</string>
		<key>URLSubjectKey</key>
		<string>subject</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Airmail</string>
		<key>URLBodyKey</key>
		<string>plainbody</string>
		<key>URLRecipientKey</key>
		<string>to</string>
		<key>URLRoot</key>
		<string>//compose</string>
		<key>URLScheme</key>
		<string>airmail</string>
		<key>URLSubjectKey</key>
		<string>subject</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Microsoft Outlook</string>
		<key>URLBodyKey</key>
		<string>body</string>
		<key>URLRecipientKey</key>
		<string>to</string>
		<key>URLRoot</key>
		<string>//compose</string>
		<key>URLScheme</key>
		<string>ms-outlook</string>
		<key>URLSubjectKey</key>
		<string>subject</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Yahoo Mail</string>
		<key>URLBodyKey</key>
		<string>body</string>
		<key>URLRecipientKey</key>
		<string>to</string>
		<key>URLRoot</key>
		<string>//mail/compose</string>
		<key>URLScheme</key>
		<string>ymail</string>
		<key>URLSubjectKey</key>
		<string>subject</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Fastmail</string>
		<key>URLBodyKey</key>
		<string>body</string>
		<key>URLRecipientKey</key>
		<string>to</string>
		<key>URLRoot</key>
		<string>//mail/compose</string>
		<key>URLScheme</key>
		<string>fastmail</string>
		<key>URLSubjectKey</key>
		<string>subject</string>
	</dict>
</array>
</plist>
